# Ignore node_modules everywhere
**/node_modules/

# Ignore environment files and keys
**/.env
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Firebase key file if sensitive
*.json
!package.json